
#our-members {
    margin-top: 50px;
    margin-bottom: 70px;
}

#our-members

.member {
    margin-bottom: 50px;
}

.member img {
    width: 100%;
}

.member-name {
    font-weight: 500;
    font-size: 125%;
}

.member-role {
    font-size: 105%;
    color: #FF5024;
}
