<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
        content="How to make your app successful - Rudias">
    <meta name="keywords"
        content="product, roadmap, Rudias, Web outsourcing">
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../assets/bootstrap_4_4_1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../assets/bootstrap_4_4_1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/global.css">
    <link rel="stylesheet" href="../assets/css/blog.css">
    <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet" async>

    <link rel="shortcut icon" type="image/png" href="../assets/img/icon.png">
    <title>Rudias</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-WRKX339W3L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WRKX339W3L');
    </script> -->

    <!-- Start of HubSpot Embed Code -->
    <!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7111113.js"></script> -->
    <!-- End of HubSpot Embed Code -->

    <!-- Yandex.Metrika counter -->
    <!-- <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(57372027, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/57372027" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript> -->
    <!-- /Yandex.Metrika counter -->

    <!-- Google Tag Manager -->
    <script>
    // (function (w, d, s, l, i) {
    //     w[l] = w[l] || []; w[l].push({
    //         'gtm.start':
    //             new Date().getTime(), event: 'gtm.js'
    //     }); var f = d.getElementsByTagName(s)[0],
    //         j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    //             'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    //     })(window, document, 'script', 'dataLayer', 'GTM-PZLG5R9');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PZLG5R9" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="blog"></div>
    <nav class="rnav navbar navbar-expand-md navbar-light bg-light">
        <a href="../home.html" class="navbar-brand"><img alt="icon" src="../assets/img/icon.png"><span
                class="rbrand-name">Rudias</span></a>
        <button aria-label="Toggle" id="rnav-toggler" type="button" class="navbar-toggler" data-toggle="collapse"
            data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto smooth-scroll">
                <a id="link-home" targetid="#header" href="../home.html" class="nav-item rnav-item nav-link">Home</a>
                <a id="link-services" targetid="#services" href="../home.html#services"
                    class="nav-item rnav-item nav-link">Services</a>
                <a id="link-blog" targetid="#blog" href="../blog.html" class="nav-item rnav-item nav-link active">Blog</a>
                <a id="link-team" href="../team.html" class="nav-item rnav-item nav-link">Team</a>
                <a id="link-contact" targetid="#contact" href="#contact" class="nav-item rnav-item nav-link">Contact</a>
            </div>
        </div>
    </nav>
    <div id="page-content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12 col-sm-12 col-md-12">
                    <div class="blog-post-first row">
                        <div id="blog-post-first-img-container" class="col-12 col-sm-8 col-md-8">
                            <img alt="Newest" id="blog-post-first-img" src="../assets/img/blog_firstarticle.png">
                        </div>
                        <div class="blog-post-first-title-container col-12 col-sm-4 col-md-4">
                            <h1 id="blog-post-first-title">
                                <a href="./what-is-the-secret-algorithm-of-uber.html">What is the secret algorithm of Uber</a>
                            </h1>
                            <p class="blog-post-date">Thurday 03 -March -2020</p>
                        </div>
                    </div>

                    <div class="row blog-sep">
                        <div class="col-12 col-sm-12">
                            <h6 id="breadcumb"><a href="../blog.html">Blog</a>/Creating strategic product roadmaps
                            </h6>
                        </div>
                    </div>

                    <div class="blog-article-container row">
                        <div class="col-12 col-sm-12 col-md-8 blog-sep">
                            <h1>Creating strategic product roadmaps
                            </h1>
                            <p class="article-date">Wednesday 02 -March -2020</p>
                        </div>
                        <div class="blog-article col-12 col-sm-12 col-md-7">
                            <div class="ac ae af ag ah ev aj ak">
                                <p id="e287" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">A traveler encounters three stone cutters on the
                                    street. When asked “What are you doing?”, the first man replies “I’m cutting stone”.
                                </p>
                                <figure class="ic id ie if ig ih ei ej paragraph-image">
                                    <div class="ei ej ib">
                                        <div class="im r bl in">
                                            <div class="io r"><img class="nd oy cr t u ij ak is" width="283"
                                                    height="152" role="presentation"
                                                    src="https://miro.medium.com/max/354/1*LMFx92OEj4NRTixNQSMqnQ.png"><noscript><img
                                                        class="cr t u ij ak"
                                                        src="https://miro.medium.com/max/566/1*LMFx92OEj4NRTixNQSMqnQ.png"
                                                        width="283" height="152" role="presentation" /></noscript></div>
                                        </div>
                                    </div>
                                </figure>
                                <p id="edb4" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">Still curious and confused, the traveler approaches the
                                    second man, who says “I’m cutting this stone into a rectangular shape so that it can
                                    fit into the wall”.</p>
                                <figure class="ic id ie if ig ih ei ej paragraph-image">
                                    <div class="ei ej ib">
                                        <div class="im r bl in">
                                            <div class="it r"><img class="nd oy cr t u ij ak is" width="283"
                                                    height="199" role="presentation"
                                                    src="https://miro.medium.com/max/354/1*uy1-U9AxcqdBlYVX676TsQ.png"><noscript><img
                                                        class="cr t u ij ak"
                                                        src="https://miro.medium.com/max/566/1*uy1-U9AxcqdBlYVX676TsQ.png"
                                                        width="283" height="199" role="presentation" /></noscript></div>
                                        </div>
                                    </div>
                                </figure>
                                <p id="016a" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">Starting to get an idea but still not fully sure what’s
                                    going on, the traveler approaches the third man who says “I’m building a cathedral”.
                                </p>
                                <figure class="ic id ie if ig ih ei ej paragraph-image">
                                    <div class="ei ej ib">
                                        <div class="im r bl in">
                                            <div class="iu r"><img class="nd oy cr t u ij ak is" width="283"
                                                    height="300" role="presentation"
                                                    src="https://miro.medium.com/max/354/1*u7a8-bPA7yLQax92AgtRHg.png"><noscript><img
                                                        class="cr t u ij ak"
                                                        src="https://miro.medium.com/max/566/1*u7a8-bPA7yLQax92AgtRHg.png"
                                                        width="283" height="300" role="presentation" /></noscript></div>
                                        </div>
                                    </div>
                                </figure>
                                <p id="ce51" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">This parable is usually linked to leadership and the
                                    importance of always starting with the big picture first. But it’s also a great
                                    metaphor for product management, and for explaining why a strategic product roadmap
                                    is not the same thing as a product backlog.</p>
                                <figure class="ic id ie if ig ih ei ej paragraph-image">
                                    <div class="iw ix bl iy ak">
                                        <div class="ei ej iv">
                                            <div class="im r bl in">
                                                <div class="iz r"><img class="nd oy cr t u ij ak is" width="2096"
                                                        height="942" role="presentation"
                                                        src="https://miro.medium.com/max/2620/1*dxMALvCUgrTFHO7y9-8oQw.png"><noscript><img
                                                            class="cr t u ij ak"
                                                            src="https://miro.medium.com/max/4192/1*dxMALvCUgrTFHO7y9-8oQw.png"
                                                            width="2096" height="942" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj ja jb hv ek ei ej jc jd aq dt"
                                        data-selectable-paragraph="">Bricks are there to build a cathedral, not the
                                        other way around</figcaption>
                                </figure>
                                <p id="395c" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">A product roadmap is a daring vision that brings the
                                    entire team together, unites us in our ambition to create the most beautiful product
                                    the world has ever seen, and puts us in a state of organizational bliss. But while
                                    all teams generally agree it’s important, things often tend to get mixed up when it
                                    comes to formats and objectives. One of the most common confusions on this topic
                                    comes from mixing up the product roadmap with the product backlog. These two
                                    inevitably share multiple characteristics, but have an inherently different purpose.
                                </p>
                                <p id="2498" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph=""><strong class="hg je">Where roadmap meets
                                        backlog</strong></p>
                                <p id="73ae" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">They <strong class="hg je">both</strong> break down the
                                    plan into smaller components. They include some sort of timeline arrangement. They
                                    ensure that every product iteration creates added value for the user and for the
                                    business. They are extremely useful for improving team alignment. They are dynamic
                                    and likely to constantly change based on the team’s learning. But they’re also quite
                                    different from each other on multiple dimensions.</p>
                                <p id="8dc9" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph=""><strong class="hg je">Let's talk about
                                        differences</strong></p>
                                <p id="8637" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">A <strong class="hg je">product roadmap</strong> is a
                                    strategic tool that outlines the long-term product vision. It performs a few key
                                    functions:</p>
                                <ul class="">
                                    <li id="196b" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr jf jg jh"
                                        data-selectable-paragraph="">Aligns the team; communicates the wider vision and
                                        approach for the product to all stakeholders without getting stuck in the
                                        tactical details</li>
                                    <li id="f0f3" class="he hf ey ar hg b hh ji hj jj hl jk hn jl hp jm hr jf jg jh"
                                        data-selectable-paragraph="">Focuses on the value created by the product and the
                                        “why” behind it, by keeping a clear view of the problems we solve for our users,
                                        and the benefits we bring for the business</li>
                                    <li id="c43d" class="he hf ey ar hg b hh ji hj jj hl jk hn jl hp jm hr jf jg jh"
                                        data-selectable-paragraph="">Encourages conversations regarding product growth
                                        and scoping</li>
                                    <li id="85f3" class="he hf ey ar hg b hh ji hj jj hl jk hn jl hp jm hr jf jg jh"
                                        data-selectable-paragraph="">Outlines key assumptions to be validated</li>
                                    <li id="71ab" class="he hf ey ar hg b hh ji hj jj hl jk hn jl hp jm hr jf jg jh"
                                        data-selectable-paragraph="">Helps the team prioritize and plan with the bigger
                                        picture in mind, before moving on to the detailed development-oriented backlog
                                    </li>
                                    <li id="7a11" class="he hf ey ar hg b hh ji hj jj hl jk hn jl hp jm hr jf jg jh"
                                        data-selectable-paragraph="">It’s useful for every stakeholder, from the “I have
                                        5 minutes to hear about this” CEO to the “This is at the core of my
                                        responsibilities” product owner</li>
                                </ul>
                                <p id="6b41" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">A <strong class="hg je">product backlog</strong> is an
                                    operational tool focused on the development approach . It breaks down a complex
                                    product into manageable user stories and has the following value:</p>
                                <ul class="">
                                    <li id="bde8" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr jf jg jh"
                                        data-selectable-paragraph="">Translates a strategic vision into manageable
                                        chunks</li>
                                    <li id="c842" class="he hf ey ar hg b hh ji hj jj hl jk hn jl hp jm hr jf jg jh"
                                        data-selectable-paragraph="">Clarifies features and functionality</li>
                                    <li id="e938" class="he hf ey ar hg b hh ji hj jj hl jk hn jl hp jm hr jf jg jh"
                                        data-selectable-paragraph="">Defines development sequence and priorities</li>
                                    <li id="844f" class="he hf ey ar hg b hh ji hj jj hl jk hn jl hp jm hr jf jg jh"
                                        data-selectable-paragraph="">Enables effort estimates</li>
                                    <li id="b64e" class="he hf ey ar hg b hh ji hj jj hl jk hn jl hp jm hr jf jg jh"
                                        data-selectable-paragraph="">This is mostly useful for product teams and
                                        hands-on stakeholders</li>
                                </ul>
                                <p id="6c08" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">There’s no doubt that both of them are useful, it’s
                                    more of a matter of time and occasion of use. And there’s a conceptual sequence to
                                    it.</p>
                                <figure class="ic id ie if ig ih ei ej paragraph-image">
                                    <div class="iw ix bl iy ak">
                                        <div class="ei ej jn">
                                            <div class="im r bl in">
                                                <div class="jo r"><img class="nd oy cr t u ij ak is" width="2285"
                                                        height="880" role="presentation"
                                                        src="https://miro.medium.com/max/2856/1*gzf9hABM7K6-7jmI282kcQ.png"><noscript><img
                                                            class="cr t u ij ak"
                                                            src="https://miro.medium.com/max/4570/1*gzf9hABM7K6-7jmI282kcQ.png"
                                                            width="2285" height="880" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                                <p id="860f" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">Overlooking a strategic roadmap hurts the team’s
                                    abilities to see the big picture. It hinders the ability to consider the “why”
                                    behind what the team activities and thus simply makes the team and the output less
                                    intentional. But shifting from a backlog to a strategic roadmap approach can be done
                                    with just a few minor adjustments.</p>
                                <p id="5df6" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph=""><strong class="hg je">1. Center conversation around
                                        themes and goals</strong></p>
                                <p id="0790" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">A product roadmap should be visionary. It should be
                                    inspiring and build enthusiasm. And while there’s definitely some people who can get
                                    inspired by things like “build a secure log-in system” because they think of all the
                                    complexity and intricacies it involves, most people won’t share this view. What most
                                    people can get behind though is the ability to make an impact, i.e. to address
                                    meaningful goals for the consumers. <mark class="pc pd ky">Highlighting the enablers
                                        linked to the product rather than the detailed features is a simple yet very
                                        effective way to map out the bigger picture instead of the development
                                        log.</mark></p>
                                <p id="e61a" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">Grouping more detailed items in a set of higher level
                                    themes is also a great way to communicate about the roadmap — and much more likely
                                    even your high-up-there-super-busy stakeholders get to understand the product
                                    vision. And if you can link those to tangible business goals, you’ve got the full
                                    package.</p>
                                <figure class="ic id ie if ig ih ei ej paragraph-image">
                                    <div class="iw ix bl iy ak">
                                        <div class="ei ej jp">
                                            <div class="im r bl in">
                                                <div class="jq r"><img class="nd oy cr t u ij ak is" width="2032"
                                                        height="1427" role="presentation"
                                                        src="https://miro.medium.com/max/2540/1*gfYNnzwq2TWtmFrIPnXhDQ.png"><noscript><img
                                                            class="cr t u ij ak"
                                                            src="https://miro.medium.com/max/4064/1*gfYNnzwq2TWtmFrIPnXhDQ.png"
                                                            width="2032" height="1427" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj ja jb hv ek ei ej jc jd aq dt"
                                        data-selectable-paragraph="">Building castles, not bricks</figcaption>
                                </figure>
                                <p id="11ac" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">And even going beyond the communication-inspiration
                                    idea, themes or goals can help the team keep an open mind for finding the best way
                                    to solve a problem instead of blindly focusing on a pre-defined solution. As Jared
                                    Spool puts its, “themes are a promise to solve problems, not build features” (<a
                                        class="bo gs jr js jt ju" target="_blank" rel="noopener"
                                        href="/uie-brain-sparks/themes-a-small-change-to-product-roadmaps-with-large-effects-a9a9a496b800">great
                                        read by the way</a>).</p>
                                <p id="6671" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph=""><strong class="hg je">2. From MoSCoW to
                                        prioritization</strong></p>
                                <p id="028d" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">Ah, good old “Must Have Should Have Could Have Would
                                    Have” framework! How many business minds it ignited over the years, how many billed
                                    hours it generated! I’m not here to argue the overall viability of the model, but in
                                    the context of a product roadmap there are better ways to approach this.</p>
                                <p id="a301" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">Beyond the fact that MoSCoW is inherently
                                    feature-oriented, it also creates the erroneous impression that certain aspects are
                                    not worth pursuing. “Feature X is a would have” is most likely to be perceived as
                                    something that is simply not worth the effort, and will never happen. Why, then,
                                    would you have this category in your roadmap? Does a business ever get to a state
                                    when they have a surplus of resources and decide to spend it on items that bring no
                                    value but cost a lot? And whose perspective does this cover? Is this a “must have”
                                    for the end-user because it solves a meaningful problem, or is it a legal
                                    requirement?</p>
                                <p id="1884" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">The alternative? A prioritization matrix. It can help
                                    address the issues covered above and provide a solid foundation for product
                                    discussions. In a prioritization exercise, the team can shift the conversation
                                    upstream towards goals and objectives — and arrange them according to importance for
                                    end-users, business and technical sides. It’s really the relative importance we’re
                                    looking for here. This is not about goal B not being important enough, it’s about
                                    goal B being less impactful than goal A. A prioritization matrix can make it easier
                                    to ensure all perspectives are taken into account, and it can decrease (if not
                                    remove) subjectivity from the conversation.</p>
                                <p id="3ba5" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph=""><strong class="hg je">3. From timelines to
                                        journeys</strong></p>
                                <p id="2e49" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">You’ve probably seen the typical product roadmap
                                    structured in a gantt chart, and linked to quarterly plans or release dates. In
                                    fact, that’s pretty much the only thing you’ll see if you run a Google image search.
                                </p>
                                <figure class="ic id ie if ig ih ei ej paragraph-image">
                                    <div class="iw ix bl iy ak">
                                        <div class="ei ej jv">
                                            <div class="im r bl in">
                                                <div class="jw r"><img class="nd oy cr t u ij ak is" width="3094"
                                                        height="1656" role="presentation"
                                                        src="https://miro.medium.com/max/3868/1*AWjGge97v4yuNxweoZF2Cg.png"><noscript><img
                                                            class="cr t u ij ak"
                                                            src="https://miro.medium.com/max/6188/1*AWjGge97v4yuNxweoZF2Cg.png"
                                                            width="3094" height="1656" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj ja jb hv ek ei ej jc jd aq dt"
                                        data-selectable-paragraph="">The ganttification of product roadmaps. It's real.
                                    </figcaption>
                                </figure>
                                <p id="0ab0" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">Again, this makes sense for a product backlog (which is
                                    step 3 in our high level product approach from earlier). But when it comes to a
                                    strategic product overview, it might not be the best approach for multiple reasons:
                                    it’s too detailed to be easily understood, it’s not inspiring enough for a high
                                    level ambition setup, it’s linked to production capabilities rather than value-added
                                    for consumers, and it’s likely not accurate enough in the long-term.</p>
                                <p id="4291" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">A more versatile (and coincidentally easier, yay!)
                                    approach is to think of a few simple phases. It can be as straightforward as
                                    short-term, mid-term and long-term. Or you can group them into more goal-oriented
                                    phases, like Pilot, Minimum Lovable Experience, Delightful Experience. Whatever you
                                    name them, it’s best to aim for 3–4 phases in total. The later the phase, the more
                                    likely it is that it will change by the time you get to it, based on what the team
                                    has learned in the previous phases. The last phase can also be used as the dot on
                                    the horizon, the one you know you’ll never reach but will always try to get closer
                                    to.</p>
                                <p id="c59f" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">What we’re really doing here is the describing the
                                    product’s journey as we envision it. And the cool part about a journey is that it’s
                                    unpredictable, it’s about learning and pivoting as much as it is about reaching
                                    specific milestones. It’s about accepting the fact that what you encounter today
                                    will affect where you want to go tomorrow.</p>
                                <figure class="ic id ie if ig ih ei ej paragraph-image">
                                    <div class="iw ix bl iy ak">
                                        <div class="ei ej jx">
                                            <div class="im r bl in">
                                                <div class="jy r">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                                <p id="1298" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph=""><strong class="hg je">Same same but different</strong>
                                </p>
                                <p id="ff51" class="he hf ey ar hg b hh hi hj hk hl hm hn ho hp hq hr eq"
                                    data-selectable-paragraph="">With a few simple tweaks, it's really quite simple to
                                    get over a team's natural tendency to dive head-first into details and talk
                                    big-picture first. And knowing where you're headed does tend to make a big
                                    difference in terms of where you end up.</p>
                            </div>
                        </div>

                        <div class="related-posts col-12 col-sm-12 col-md-4 offset-md-1">
                            <div id="blog-email-box">
                                <form id="blog-email-form">
                                    <h6 id="blog-email-box-title">
                                        Let me know about lastest technology article
                                    </h6>
                                    <input id="blog-email-input" type="email" name="email" placeholder="Email">
                                    <input id="blog-email-submit" type="submit" value="Notify me!">
                                </form>
                            </div>

                            <div class="related-posts-section" id="most-view-articles">
                                <h4><b>Most view articles</b></h4><hr>
                                <a href="../posts/what-is-the-secret-algorithm-of-uber.html" class="related-posts-link"><h1 class="blog-title">What is the secret algorithm of Uber</h1></a><hr>
                                <a href="../posts/10-how-to-make-your-app-successful.html" class="related-posts-link"><h1 class="blog-title">Creating strategic product roadmaps</h1></a><hr>
                                <a href="../posts/creating-strategic-product-roadmaps.html" class="related-posts-link"><h1 class="blog-title">Creating strategic product roadmaps</h1></a><hr>
                                <a href="../posts/flutter-in-mobile-app-development-pros-and-cons-for-app-owners.html" class="related-posts-link"><h1 class="blog-title">Flutter in Mobile App Development – Pros & Cons for App Owners</h1></a><hr>
                            </div>
                            
                            <div class="related-posts-section" id="featuring-articles">
                                <h4><b>Featuring articles</b></h4><hr>
                                <a href="../posts/labeling-ourselves.html" class="related-posts-link"><h1 class="blog-title">Changing the Conversation about Product Management vs. UX</h1></a><hr>
                                <a href="../posts/native-apps-vs-non-native-apps-ios-android.html" class="related-posts-link"><h1 class="blog-title">Native Apps vs. Non-Native Apps for iOS and Android?</h1></a><hr>
                                <a href="../posts/swift-vs-objective-c-a-look-at-ios-programming-languages.html" class="related-posts-link"><h1 class="blog-title">Swift vs. Objective-C: A Look at iOS Programming Languages</h1></a><hr>
                                <a href="../posts/ux-design-trends-retrospective-2019.html" class="related-posts-link"><h1 class="blog-title">UX design trends retrospective 2019</h1></a><hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-5 col-md-5" id="contact-us">
                        <div class="contact-section-title">
                            <h4> Contact us</h4>
                        </div>
                        <br><br>
                        <h5><span style="color:#BDBDBD">Direct contact</span></h5>
                        <h6><span style="color: #F2F2F2">+84 90 123 4567</span></h6>
                        <h6><span style="color: #F2F2F2">contact@rudias.net</span></h6>
                        <br>
                        <h5><span style="color:#BDBDBD">Visit us</span></h5>
                        <h6><span style="color: #F2F2F2">Level 4, No1 Thai Ha, Vietnam</span></h6>
                        <br>
                        <a href="https://fb.com"><img alt="icon_facebook" src="../assets/img/icon_fb.png"></a>
                        <a href="https://fb.com"><img alt="icon_linkedin" src="../assets/img/icon_linkedin.png"></a>
                    </div>

                    <div class="col-12 col-md-6 offset-md-1 col-sm-6 offset-sm-1" id="message-us">
                        <div class="contact-section-title">
                            <h4> Message us</h4>
                        </div>
                        <br><br>
                        <form id="subscribe-form">
                            <div class="form-group">
                                <label for="name" class="subscribe-form-label">Name</label>
                                <input id="name" name="name" type="text" class="form-control inp"
                                    placeholder="Your name*">
                                <label for="email" class="subscribe-form-label">Email</label>
                                <input id="email" name="email" type="email" class="form-control inp"
                                    placeholder="Your email*">
                                <label for="message" class="subscribe-form-label">Message</label>
                                <textarea id="message" name="message" class="form-control inp"
                                    placeholder="Your message here"></textarea>
                                <input id="subscribe-form-submit-btn" class="form-control inp" type="submit"
                                    value="Send">
                                <p id="subscribe-form-msg"></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a href="../home.html" class="navbar-brand">
                <img alt="icon" src="../assets/img/icon.png">
                <span class="rbrand-name">Rudias</span>
            </a>
            <p class="navbar-brand navbar-nav ml-auto">
                Copyright &copy Rudias 2020
            </p>
        </nav>
    </footer>


    <script src="../assets/js/global.js"></script>
    <script src="../assets/js/blog.js"></script>
</body>

</html>