<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
        content="UX Design trends retrospective - Rudias">
    <meta name="keywords"
        content="UX, UX Design, restropective, Web outsourcing">
       
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../assets/bootstrap_4_4_1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../assets/bootstrap_4_4_1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/global.css">
    <link rel="stylesheet" href="../assets/css/blog.css">
    <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet" async>

    <link rel="shortcut icon" type="image/png" href="../assets/img/icon.png">
    <title>Rudias</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-WRKX339W3L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WRKX339W3L');
    </script> -->

    <!-- Start of HubSpot Embed Code -->
    <!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7111113.js"></script> -->
    <!-- End of HubSpot Embed Code -->

    <!-- Yandex.Metrika counter -->
    <!-- <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(57372027, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/57372027" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript> -->
    <!-- /Yandex.Metrika counter -->

    <!-- Google Tag Manager -->
    <script>
    // (function (w, d, s, l, i) {
    //     w[l] = w[l] || []; w[l].push({
    //         'gtm.start':
    //             new Date().getTime(), event: 'gtm.js'
    //     }); var f = d.getElementsByTagName(s)[0],
    //         j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    //             'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    //     })(window, document, 'script', 'dataLayer', 'GTM-PZLG5R9');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PZLG5R9" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="blog"></div>
    <nav class="rnav navbar navbar-expand-md navbar-light bg-light">
        <a href="../home.html" class="navbar-brand"><img alt="icon" src="../assets/img/icon.png"><span
                class="rbrand-name">Rudias</span></a>
        <button aria-label="Toggle" id="rnav-toggler" type="button" class="navbar-toggler" data-toggle="collapse"
            data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto smooth-scroll">
                <a id="link-home" targetid="#header" href="../home.html" class="nav-item rnav-item nav-link">Home</a>
                <a id="link-services" targetid="#services" href="../home.html#services"
                    class="nav-item rnav-item nav-link">Services</a>
                <a id="link-blog" targetid="#blog" href="../blog.html"
                    class="nav-item rnav-item nav-link active">Blog</a>
                <a id="link-team" href="../team.html" class="nav-item rnav-item nav-link">Team</a>
                <a id="link-contact" targetid="#contact" href="#contact" class="nav-item rnav-item nav-link">Contact</a>
            </div>
        </div>
    </nav>
    <div id="page-content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12 col-sm-12 col-md-12">
                    <div class="blog-post-first row">
                        <div id="blog-post-first-img-container" class="col-12 col-sm-8 col-md-8">
                            <img alt="Newest" id="blog-post-first-img" src="../assets/img/blog_firstarticle.png">
                        </div>
                        <div class="blog-post-first-title-container col-12 col-sm-4 col-md-4">
                            <h1 id="blog-post-first-title">
                                <a href="./what-is-the-secret-algorithm-of-uber.html">What is the secret algorithm of Uber</a>
                            </h1>
                            <p class="blog-post-date">Thurday 03 -March -2020</p>
                        </div>
                    </div>

                    <div class="row blog-sep">
                        <div class="col-12 col-sm-12">
                            <h6 id="breadcumb"><a href="../blog.html">Blog</a>/UX design trends retrospective 2019
                            </h6>
                        </div>
                    </div>

                    <div class="blog-article-container row">
                        <div class="col-12 col-sm-12 col-md-8 blog-sep">
                            <h1>UX design trends retrospective 2019
                            </h1>
                            <p class="article-date">Wednesday 02 -March -2020</p>
                        </div>
                        <div class="blog-article col-12 col-sm-12 col-md-7">
                            <div class="ac ae af ag ah ex aj ak">
                                <h1 id="8c5a" class="ko kp fa ar aq kq fc kr fe ks kt ku kv kw kx ky kz"
                                    data-selectable-paragraph="">3D Visualization Brings a Real-world Feel to Products
                                </h1>
                                <p id="d29c" class="il im fa ar in b io la iq lb is lc iu ld iw le iy es"
                                    data-selectable-paragraph="">High-end, sophisticated photography is expensive, and
                                    stock photos are <strong class="in iz">out</strong>. 3D visualizations are <strong
                                        class="in iz">in</strong>. When objects are rendered in 3D, it’s almost
                                    conceivable they are there to be touched. Everything from digital versions of
                                    products for eCommerce and product packaging concepts to interior design
                                    visualizations and isometric office floor plans, 3D helps people visualize what
                                    something would look and feel like. Unlike photography, 3D-rendered images can be
                                    instantly changed to an alternative color scheme, scaled, and placed in a different
                                    environment.</p>
                                <figure class="hq hr hs ht hu hg ek el paragraph-image">
                                    <div class="hx hy bl hz ak">
                                        <div class="ek el lg">
                                            <div class="ie r bl if">
                                                <div class="mn r"><img class="qu sp cr t u ib ak ik" width="1999"
                                                        height="744" role="presentation"
                                                        src="https://miro.medium.com/max/2499/1*1wPYNfLTtb4JbuB7wqL7aw.jpeg"><noscript><img
                                                            class="cr t u ib ak"
                                                            src="https://miro.medium.com/max/3998/1*1wPYNfLTtb4JbuB7wqL7aw.jpeg"
                                                            width="1999" height="744" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj kj kk kl em ek el km kn aq dv"
                                        data-selectable-paragraph="">Website for a design studio specializing in
                                        exterior and interior design visualizations <a
                                            href="https://dribbble.com/shots/4807851-Creativo-Arquitectos-Website"
                                            class="bo gu jn jo jp jq" target="_blank"
                                            rel="noopener nofollow">(source)</a>.</figcaption>
                                </figure>
                                <figure class="hq hr hs ht hu hg ek el paragraph-image">
                                    <div class="hx hy bl hz ak">
                                        <div class="ek el jl">
                                            <div class="ie r bl if">
                                                <div class="mo r"><img class="qu sp cr t u ib ak ik" width="1560"
                                                        height="876" role="presentation"
                                                        src="https://miro.medium.com/max/1950/1*UmTmowQt6U6xpe_HtQsG5w.jpeg"><noscript><img
                                                            class="cr t u ib ak"
                                                            src="https://miro.medium.com/max/3120/1*UmTmowQt6U6xpe_HtQsG5w.jpeg"
                                                            width="1560" height="876" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj kj kk kl em ek el km kn aq dv"
                                        data-selectable-paragraph="">Nike Sneakerboot promo (by <a
                                            href="http://www.chrislabrooy.com/work-2#/sneakerboots/"
                                            class="bo gu jn jo jp jq" target="_blank" rel="noopener nofollow">Chris
                                            Labrooy)</a>.</figcaption>
                                </figure>
                                <figure class="hq hr hs ht hu hg ek el paragraph-image">
                                    <div class="hx hy bl hz ak">
                                        <div class="ek el lm">
                                            <div class="ie r bl if">
                                                <div class="mp r"><img class="qu sp cr t u ib ak ik" width="1600"
                                                        height="1016" role="presentation"
                                                        src="https://miro.medium.com/max/2000/1*w_6WKeGCV2LNBCWvy3Pvug.png"><noscript><img
                                                            class="cr t u ib ak"
                                                            src="https://miro.medium.com/max/3200/1*w_6WKeGCV2LNBCWvy3Pvug.png"
                                                            width="1600" height="1016" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj kj kk kl em ek el km kn aq dv"
                                        data-selectable-paragraph="">A 3D render for the BOSE SoundLink Revolve+ speaker
                                        (by <a href="https://dribbble.com/shots/7902980-BOSE-SoundLink-Revolve"
                                            class="bo gu jn jo jp jq" target="_blank" rel="noopener nofollow">Peter
                                            Tarka)</a>.</figcaption>
                                </figure>
                                <figure class="hq hr hs ht hu hg ek el paragraph-image">
                                    <div class="hx hy bl hz ak">
                                        <div class="ek el mq">
                                            <div class="ie r bl if">
                                                <div class="mr r"><img class="qu sp cr t u ib ak ik" width="1758"
                                                        height="994" role="presentation"
                                                        src="https://miro.medium.com/max/2198/1*Cz9ilvwSECoRVlHIMjUPjQ.jpeg"><noscript><img
                                                            class="cr t u ib ak"
                                                            src="https://miro.medium.com/max/3516/1*Cz9ilvwSECoRVlHIMjUPjQ.jpeg"
                                                            width="1758" height="994" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj kj kk kl em ek el km kn aq dv"
                                        data-selectable-paragraph="">3D renders for the 2019 Apple Chinese New Year
                                        promo (by <a
                                            href="https://www.behance.net/gallery/76058347/Apple-Chinese-New-Year"
                                            class="bo gu jn jo jp jq" target="_blank" rel="noopener nofollow">Peter
                                            Tarka)</a>.</figcaption>
                                </figure>
                                <h1 id="1a5f" class="ko kp fa ar aq kq fc kr fe ks kt ku kv kw kx ky kz"
                                    data-selectable-paragraph="">Voice Interactions</h1>
                                <p id="21e2" class="il im fa ar in b io la iq lb is lc iu ld iw le iy es"
                                    data-selectable-paragraph="">People’s comfort level with voice interactions is
                                    growing. We talk to inanimate objects and they talk back to us. It’s not only when
                                    our hands are full, dirty, or we’re driving that we use <a
                                        href="https://www.toptal.com/designers/ui/designing-a-vui"
                                        class="bo gu jn jo jp jq" target="_blank" rel="noopener nofollow">voice
                                        interactions</a> on our mobiles. More and more people search with their voice,
                                    dictate text messages, and play music via voice commands.</p>
                                <p id="8060" class="il im fa ar in b io ip iq ir is it iu iv iw ix iy es"
                                    data-selectable-paragraph="">Gaining more acceptance with the mainstream, we talk to
                                    digital voice assistants Alexa, Cortana, Google Assistant, and Siri to get travel
                                    and weather information, shop, and order a ride. Alongside the popular voice
                                    assistants, the ability to use voice interactions is increasingly built into various
                                    devices and apps. A recent survey found that the reason people like using their
                                    voices to interact is because it’s fast, accurate, and requires no typing; in other
                                    words, it reduces friction and provides better UX.</p>
                                <figure class="hq hr hs ht hu hg ek el paragraph-image">
                                    <div class="hx hy bl hz ak">
                                        <div class="ek el lm">
                                            <div class="ie r bl if">
                                                <div class="mi r"><img class="qu sp cr t u ib ak ik" width="1600"
                                                        height="900" role="presentation"
                                                        src="https://miro.medium.com/max/2000/1*y-qL9h7pmONjeQ57j6KiUQ.png"><noscript><img
                                                            class="cr t u ib ak"
                                                            src="https://miro.medium.com/max/3200/1*y-qL9h7pmONjeQ57j6KiUQ.png"
                                                            width="1600" height="900" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj kj kk kl em ek el km kn aq dv"
                                        data-selectable-paragraph="">The Smart Home can be easily controlled with an app
                                        with built-in voice commands <a
                                            href="https://dribbble.com/shots/3390542-Smarthome-app-Voice-Control"
                                            class="bo gu jn jo jp jq" target="_blank"
                                            rel="noopener nofollow">(source)</a>.</figcaption>
                                </figure>
                                <figure class="hq hr hs ht hu hg ek el paragraph-image">
                                    <div class="hx hy bl hz ak">
                                        <div class="ek el mk">
                                            <div class="ie r bl if">
                                                <div class="ms r"><img class="qu sp cr t u ib ak ik" width="800"
                                                        height="690" role="presentation"
                                                        src="https://miro.medium.com/max/1000/1*kQxbL426AijoqIuyDKFUQQ.gif"><noscript><img
                                                            class="cr t u ib ak"
                                                            src="https://miro.medium.com/max/1600/1*kQxbL426AijoqIuyDKFUQQ.gif"
                                                            width="800" height="690" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj kj kk kl em ek el km kn aq dv"
                                        data-selectable-paragraph="">Increasing voice interactions are another major UX
                                        trend for 2019.</figcaption>
                                </figure>
                                <h1 id="9247" class="ko kp fa ar aq kq fc kr fe ks kt ku kv kw kx ky kz"
                                    data-selectable-paragraph="">Conversational UIs and Chatbots</h1>
                                <p id="e9e8" class="il im fa ar in b io la iq lb is lc iu ld iw le iy es"
                                    data-selectable-paragraph="">Traditional landing pages with large hero images,
                                    buttons, links, and forms are gradually giving way to one of the most intuitive and
                                    natural interaction patterns-the conversation. Conversational UIs provide an
                                    experience that is delightful, more personalized, and frictionless.</p>
                                <p id="4e71" class="il im fa ar in b io ip iq ir is it iu iv iw ix iy es"
                                    data-selectable-paragraph="">Typically, <a
                                        href="https://www.wordstream.com/blog/ws/2017/10/04/chatbots"
                                        class="bo gu jn jo jp jq" target="_blank" rel="noopener nofollow">chatbots</a>
                                    are artificial intelligence platforms that use instant messaging as an application
                                    interface. Instead of putting the burden on users by asking them to fill out forms,
                                    chatbots relieve that burden by making the interaction more natural and
                                    conversational. Some bots are not AI but real human beings interacting via chat to
                                    provide more compelling user experiences.</p>
                                <p id="04aa" class="il im fa ar in b io ip iq ir is it iu iv iw ix iy es"
                                    data-selectable-paragraph="">Even though the time something takes may be the same—to
                                    complete a travel booking, for example—because the interaction is conversational and
                                    broken up into chunks, the cognitive strain is reduced and the user experience
                                    improved.</p>
                                <figure class="hq hr hs ht hu hg ek el paragraph-image">
                                    <div class="hx hy bl hz ak">
                                        <div class="ek el jl">
                                            <div class="ie r bl if">
                                                <div class="mt r"><img class="qu sp cr t u ib ak ik" width="1560"
                                                        height="948" role="presentation"
                                                        src="https://miro.medium.com/max/1950/1*Oyu6PT7NSa6ntPNqIPXowQ.jpeg"><noscript><img
                                                            class="cr t u ib ak"
                                                            src="https://miro.medium.com/max/3120/1*Oyu6PT7NSa6ntPNqIPXowQ.jpeg"
                                                            width="1560" height="948" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj kj kk kl em ek el km kn aq dv"
                                        data-selectable-paragraph="">The Chinese Sichuan sauce eCommerce site <a
                                            href="https://www.flybyjing.com/" class="bo gu jn jo jp jq" target="_blank"
                                            rel="noopener nofollow">Flybyjing</a> employs a chat widget to draw people
                                        in.</figcaption>
                                </figure>
                                <figure class="hq hr hs ht hu hg ek el paragraph-image">
                                    <div class="hx hy bl hz ak">
                                        <div class="ek el jl">
                                            <div class="ie r bl if">
                                                <div class="mu r"><img class="qu sp cr t u ib ak ik" width="1560"
                                                        height="827" role="presentation"
                                                        src="https://miro.medium.com/max/1950/1*HwQ4MCETN1ToYTRgo_2xAA.png"><noscript><img
                                                            class="cr t u ib ak"
                                                            src="https://miro.medium.com/max/3120/1*HwQ4MCETN1ToYTRgo_2xAA.png"
                                                            width="1560" height="827" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj kj kk kl em ek el km kn aq dv"
                                        data-selectable-paragraph=""><a href="https://bombombaby.com/"
                                            class="bo gu jn jo jp jq" target="_blank" rel="noopener nofollow">Bombom</a>
                                        diapers uses a Messenger chatbot on its website to engage visitors.</figcaption>
                                </figure>
                                <figure class="hq hr hs ht hu hg ek el paragraph-image">
                                    <div class="hx hy bl hz ak">
                                        <div class="ek el lv">
                                            <div class="ie r bl if">
                                                <div class="mv r"><img class="qu sp cr t u ib ak ik" width="2000"
                                                        height="1112" role="presentation"
                                                        src="https://miro.medium.com/max/2500/1*OThBqJDh6zV5ZxQSaiC49Q.jpeg"><noscript><img
                                                            class="cr t u ib ak"
                                                            src="https://miro.medium.com/max/4000/1*OThBqJDh6zV5ZxQSaiC49Q.jpeg"
                                                            width="2000" height="1112" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj kj kk kl em ek el km kn aq dv"
                                        data-selectable-paragraph="">Using Messenger, Hyatt Hotels uses its customer
                                        relations staff to help guests make reservations.</figcaption>
                                </figure>
                                <h1 id="6fb8" class="ko kp fa ar aq kq fc kr fe ks kt ku kv kw kx ky kz"
                                    data-selectable-paragraph="">Scroll-triggered Animations Tell Stories, Sell Products
                                    and Services</h1>
                                <p id="7c6a" class="il im fa ar in b io la iq lb is lc iu ld iw le iy es"
                                    data-selectable-paragraph="">Super close-up, high-end 3D rendering of products is
                                    becoming all the rage when it comes to selling products on the web. Lifestyle
                                    marketing-focused, scroll-triggered animations tell compelling, cinematic stories
                                    with striking visuals. Often blending stop-motion animation, photography, and video
                                    with elegant typography, they’re designed to engage and draw people in.</p>
                                <figure class="hq hr hs ht hu hg ek el paragraph-image">
                                    <div class="hx hy bl hz ak">
                                        <div class="ek el mw">
                                            <div class="ie r bl if">
                                                <div class="mx r"><img class="qu sp cr t u ib ak ik" width="1377"
                                                        height="863" role="presentation"
                                                        src="https://miro.medium.com/max/1721/1*T34iWLABmJnjqtr3L2xC1Q.gif"><noscript><img
                                                            class="cr t u ib ak"
                                                            src="https://miro.medium.com/max/2754/1*T34iWLABmJnjqtr3L2xC1Q.gif"
                                                            width="1377" height="863" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj kj kk kl em ek el km kn aq dv"
                                        data-selectable-paragraph="">Apple has been a pioneer of scroll-triggered
                                        animations that tell a story and showcase their products.</figcaption>
                                </figure>
                                <figure class="hq hr hs ht hu hg ek el paragraph-image">
                                    <div class="hx hy bl hz ak">
                                        <div class="ek el mw">
                                            <div class="ie r bl if">
                                                <div class="my r"><img class="qu sp cr t u ib ak ik" width="1377"
                                                        height="812" role="presentation"
                                                        src="https://miro.medium.com/max/1721/1*j5AGC2w3wjGIhdTUyP2tSg.gif"><noscript><img
                                                            class="cr t u ib ak"
                                                            src="https://miro.medium.com/max/2754/1*j5AGC2w3wjGIhdTUyP2tSg.gif"
                                                            width="1377" height="812" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj kj kk kl em ek el km kn aq dv"
                                        data-selectable-paragraph="">Not to be outdone, <a
                                            href="https://store.google.com/us/product/google_nest_mini"
                                            class="bo gu jn jo jp jq" target="_blank" rel="noopener nofollow">Google</a>
                                        also showcases its tech products in an engaging way with scroll-triggered
                                        animations.</figcaption>
                                </figure>
                                <p id="506a" class="il im fa ar in b io ip iq ir is it iu iv iw ix iy es"
                                    data-selectable-paragraph="">Focusing on unique visitor experiences that are more
                                    captivating than the static web pages people browse through in an old-fashioned way,
                                    various service companies are also using the scroll-triggered animation UX trend to
                                    sell everything from creative services to digital design and branding.</p>
                                <figure class="hq hr hs ht hu hg ek el paragraph-image">
                                    <div class="hx hy bl hz ak">
                                        <div class="ek el mz">
                                            <div class="ie r bl if">
                                                <div class="na r"><img class="qu sp cr t u ib ak ik" width="796"
                                                        height="486" role="presentation"
                                                        src="https://miro.medium.com/max/995/1*huX0Fa9loxbDrmwbj0UA3w.gif"><noscript><img
                                                            class="cr t u ib ak"
                                                            src="https://miro.medium.com/max/1592/1*huX0Fa9loxbDrmwbj0UA3w.gif"
                                                            width="796" height="486" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj kj kk kl em ek el km kn aq dv"
                                        data-selectable-paragraph="">Scroll-triggered, animated storytelling sells
                                        services as well — part of the latest UX design trends <a
                                            href="https://www.bukwild.com/" class="bo gu jn jo jp jq" target="_blank"
                                            rel="noopener nofollow">(Bukwild)</a>.</figcaption>
                                </figure>
                                <h1 id="47a0" class="ko kp fa ar aq kq fc kr fe ks kt ku kv kw kx ky kz"
                                    data-selectable-paragraph="">Mixed Media Sites with Strong Typography</h1>
                                <p id="1824" class="il im fa ar in b io la iq lb is lc iu ld iw le iy es"
                                    data-selectable-paragraph="">In the last few years, the web sprang to life with
                                    multimedia pages replete with self-playing videos, animated GIFs, 3D animations, and
                                    scroll-triggered animated illustrations. Together with loud typography and parallax
                                    scrolling, it feels like everything-but-the-kitchen-sink was thrown in-but if done
                                    well with some restraint and in a sophisticated style, they’re sure to capture
                                    visitors’ attention. Experiences are no longer designed to be linear, but rich and
                                    engaging.</p>
                                <figure class="hq hr hs ht hu hg ek el paragraph-image">
                                    <div class="hx hy bl hz ak">
                                        <div class="ek el nb">
                                            <div class="ie r bl if">
                                                <div class="nc r"><img class="qu sp cr t u ib ak ik" width="883"
                                                        height="539" role="presentation"
                                                        src="https://miro.medium.com/max/1104/1*ZTup7q7GUAQQsFUtchTXvw.gif"><noscript><img
                                                            class="cr t u ib ak"
                                                            src="https://miro.medium.com/max/1766/1*ZTup7q7GUAQQsFUtchTXvw.gif"
                                                            width="883" height="539" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj kj kk kl em ek el km kn aq dv"
                                        data-selectable-paragraph="">More scroll-triggered animation with video, unusual
                                        colors, and strong typography <a href="https://conference.awwwards.com/"
                                            class="bo gu jn jo jp jq" target="_blank"
                                            rel="noopener nofollow">(Awwwards)</a>.</figcaption>
                                </figure>
                                <figure class="hq hr hs ht hu hg ek el paragraph-image">
                                    <div class="hx hy bl hz ak">
                                        <div class="ek el lg">
                                            <div class="ie r bl if">
                                                <div class="nd r"><img class="qu sp cr t u ib ak ik" width="1999"
                                                        height="1068" role="presentation"
                                                        src="https://miro.medium.com/max/2499/1*ohFKusegasLJVgGVOdN6pQ.png"><noscript><img
                                                            class="cr t u ib ak"
                                                            src="https://miro.medium.com/max/3998/1*ohFKusegasLJVgGVOdN6pQ.png"
                                                            width="1999" height="1068" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj kj kk kl em ek el km kn aq dv"
                                        data-selectable-paragraph="">Bold typography and simple animation — <a
                                            href="https://ux.kathart.dk/" class="bo gu jn jo jp jq" target="_blank"
                                            rel="noopener nofollow">KathArt Interactive</a>.</figcaption>
                                </figure>
                                <figure class="hq hr hs ht hu hg ek el paragraph-image">
                                    <div class="hx hy bl hz ak">
                                        <div class="ek el jl">
                                            <div class="ie r bl if">
                                                <div class="ne r"><img class="qu sp cr t u ib ak ik" width="1560"
                                                        height="911" role="presentation"
                                                        src="https://miro.medium.com/max/1950/1*C9VTU7Eh9iIzoKwBZBBh7A.jpeg"><noscript><img
                                                            class="cr t u ib ak"
                                                            src="https://miro.medium.com/max/3120/1*C9VTU7Eh9iIzoKwBZBBh7A.jpeg"
                                                            width="1560" height="911" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj kj kk kl em ek el km kn aq dv"
                                        data-selectable-paragraph="">A whimsical animated site by <a
                                            href="https://brandstudio.ru/en/" class="bo gu jn jo jp jq" target="_blank"
                                            rel="noopener nofollow">Brand Studio</a> Russia.</figcaption>
                                </figure>
                                <figure class="hq hr hs ht hu hg ek el paragraph-image">
                                    <div class="hx hy bl hz ak">
                                        <div class="ek el nb">
                                            <div class="ie r bl if">
                                                <div class="nc r"><img class="qu sp cr t u ib ak ik" width="883"
                                                        height="539" role="presentation"
                                                        src="https://miro.medium.com/max/1104/1*dPXO1mUCY7qGRb6hrGdnQQ.gif"><noscript><img
                                                            class="cr t u ib ak"
                                                            src="https://miro.medium.com/max/1766/1*dPXO1mUCY7qGRb6hrGdnQQ.gif"
                                                            width="883" height="539" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj kj kk kl em ek el km kn aq dv"
                                        data-selectable-paragraph="">3D, video, and animation on the payment platform
                                        site <a href="https://useplink.com/en/" class="bo gu jn jo jp jq"
                                            target="_blank" rel="noopener nofollow">Plink</a>.</figcaption>
                                </figure>
                                <h1 id="bf40" class="ko kp fa ar aq kq fc kr fe ks kt ku kv kw kx ky kz"
                                    data-selectable-paragraph="">eCommerce Comes Alive with 3D, AR, and Motion</h1>
                                <p id="5708" class="il im fa ar in b io la iq lb is lc iu ld iw le iy es"
                                    data-selectable-paragraph="">Shopping in the physical world is a tactile experience.
                                    Studies have shown that video or 3D animation on eCommerce site product pages tend
                                    to sell more products because people can get a better sense of them. Products
                                    inserted into real life via augmented reality (AR) also tend to work better because
                                    people can “try them on” or place the products into real-life environments. As fast
                                    internet connections increase and browsers get better at rendering all kinds of
                                    multimedia content, these eCommerce UX trends are bound to continue.</p>
                                <figure class="hq hr hs ht hu hg ek el paragraph-image">
                                    <div class="hx hy bl hz ak">
                                        <div class="ek el mw">
                                            <div class="ie r bl if">
                                                <div class="nf r"><img class="qu sp cr t u ib ak ik" width="1377"
                                                        height="845" role="presentation"
                                                        src="https://miro.medium.com/max/1721/1*fTN-YhwRQkaCp7xZymlHyQ.gif"><noscript><img
                                                            class="cr t u ib ak"
                                                            src="https://miro.medium.com/max/2754/1*fTN-YhwRQkaCp7xZymlHyQ.gif"
                                                            width="1377" height="845" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj kj kk kl em ek el km kn aq dv"
                                        data-selectable-paragraph="">3D product rendering that gives full 360 views is
                                        another UX eCommerce trend in 2019 <a href="https://www.rimowa.com/"
                                            class="bo gu jn jo jp jq" target="_blank"
                                            rel="noopener nofollow">(RIMOWA)</a>.</figcaption>
                                </figure>
                                <figure class="hq hr hs ht hu hg ek el paragraph-image">
                                    <div class="hx hy bl hz ak">
                                        <div class="ek el ng">
                                            <div class="ie r bl if">
                                                <div class="nh r"><img class="qu sp cr t u ib ak ik" width="1800"
                                                        height="1000" role="presentation"
                                                        src="https://miro.medium.com/max/2250/1*mZaMHbQcYT0De7DAnGwdUA.jpeg"><noscript><img
                                                            class="cr t u ib ak"
                                                            src="https://miro.medium.com/max/3600/1*mZaMHbQcYT0De7DAnGwdUA.jpeg"
                                                            width="1800" height="1000" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj kj kk kl em ek el km kn aq dv"
                                        data-selectable-paragraph="">Watches on <a href="https://www.chrono24.co.uk/"
                                            class="bo gu jn jo jp jq" target="_blank"
                                            rel="noopener nofollow">Chrono24</a> can be scanned with computer vision and
                                        “tried on” via augmented reality.</figcaption>
                                </figure>
                                <figure class="hq hr hs ht hu hg ek el paragraph-image">
                                    <div class="hx hy bl hz ak">
                                        <div class="ek el ni">
                                            <div class="ie r bl if">
                                                <div class="nj r"><img class="qu sp cr t u ib ak ik" width="1223"
                                                        height="852" role="presentation"
                                                        src="https://miro.medium.com/max/1529/1*zxa41uNeAXi0uGVZeOw1UA.gif"><noscript><img
                                                            class="cr t u ib ak"
                                                            src="https://miro.medium.com/max/2446/1*zxa41uNeAXi0uGVZeOw1UA.gif"
                                                            width="1223" height="852" role="presentation" /></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption class="av bj kj kk kl em ek el km kn aq dv"
                                        data-selectable-paragraph="">The next big trend in UX design — videos on
                                        eCommerce sites tend to sell more products <a href="https://www.aloyoga.com/"
                                            class="bo gu jn jo jp jq" target="_blank" rel="noopener nofollow">(Alo
                                            Yoga)</a>.</figcaption>
                                </figure>
                                <h1 id="df41" class="ko kp fa ar aq kq fc kr fe ks kt ku kv kw kx ky kz"
                                    data-selectable-paragraph="">Select UX Design Trends Are Here to Stay</h1>
                                <p id="a0ef" class="il im fa ar in b io la iq lb is lc iu ld iw le iy es"
                                    data-selectable-paragraph="">Although keeping up with the latest UX trends can be a
                                    trap if not done sensibly, keeping abreast of what is current is crucial. Doing so
                                    can help a UX designer to become, or remain cutting edge. UX design trends can boost
                                    UX designers’ efforts to meet people’s high expectations because in most cases, they
                                    have been filtered through UX design experiments and have been proven to work.</p>
                                <p id="6614" class="il im fa ar in b io ip iq ir is it iu iv iw ix iy es"
                                    data-selectable-paragraph="">Each year, hot new UX design trends emerge. Some will
                                    become popular, and some will wane and eventually disappear. Through a process of
                                    merciless elimination, only the most useful and durable will survive, which is great
                                    for advancing the art and science of designing exceptional user experiences.</p>
                            </div>
                        </div>

                        <div class="related-posts col-12 col-sm-12 col-md-4 offset-md-1">
                            <div id="blog-email-box">
                                <form id="blog-email-form">
                                    <h6 id="blog-email-box-title">
                                        Let me know about lastest technology article
                                    </h6>
                                    <input id="blog-email-input" type="email" name="email" placeholder="Email">
                                    <input id="blog-email-submit" type="submit" value="Notify me!">
                                </form>
                            </div>

                            <div class="related-posts-section" id="most-view-articles">
                                <h4><b>Most view articles</b></h4><hr>
                                <a href="../posts/what-is-the-secret-algorithm-of-uber.html" class="related-posts-link"><h1 class="blog-title">What is the secret algorithm of Uber</h1></a><hr>
                                <a href="../posts/10-how-to-make-your-app-successful.html" class="related-posts-link"><h1 class="blog-title">Creating strategic product roadmaps</h1></a><hr>
                                <a href="../posts/creating-strategic-product-roadmaps.html" class="related-posts-link"><h1 class="blog-title">Creating strategic product roadmaps</h1></a><hr>
                                <a href="../posts/flutter-in-mobile-app-development-pros-and-cons-for-app-owners.html" class="related-posts-link"><h1 class="blog-title">Flutter in Mobile App Development – Pros & Cons for App Owners</h1></a><hr>
                            </div>
                            
                            <div class="related-posts-section" id="featuring-articles">
                                <h4><b>Featuring articles</b></h4><hr>
                                <a href="../posts/labeling-ourselves.html" class="related-posts-link"><h1 class="blog-title">Changing the Conversation about Product Management vs. UX</h1></a><hr>
                                <a href="../posts/native-apps-vs-non-native-apps-ios-android.html" class="related-posts-link"><h1 class="blog-title">Native Apps vs. Non-Native Apps for iOS and Android?</h1></a><hr>
                                <a href="../posts/swift-vs-objective-c-a-look-at-ios-programming-languages.html" class="related-posts-link"><h1 class="blog-title">Swift vs. Objective-C: A Look at iOS Programming Languages</h1></a><hr>
                                <a href="../posts/ux-design-trends-retrospective-2019.html" class="related-posts-link"><h1 class="blog-title">UX design trends retrospective 2019</h1></a><hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-5 col-md-5" id="contact-us">
                        <div class="contact-section-title">
                            <h4> Contact us</h4>
                        </div>
                        <br><br>
                        <h5><span style="color:#BDBDBD">Direct contact</span></h5>
                        <h6><span style="color: #F2F2F2">+84 90 123 4567</span></h6>
                        <h6><span style="color: #F2F2F2">contact@rudias.net</span></h6>
                        <br>
                        <h5><span style="color:#BDBDBD">Visit us</span></h5>
                        <h6><span style="color: #F2F2F2">Level 4, No1 Thai Ha, Vietnam</span></h6>
                        <br>
                        <a href="https://fb.com"><img alt="icon_facebook" src="../assets/img/icon_fb.png"></a>
                        <a href="https://fb.com"><img alt="icon_linkedin" src="../assets/img/icon_linkedin.png"></a>
                    </div>

                    <div class="col-12 col-md-6 offset-md-1 col-sm-6 offset-sm-1" id="message-us">
                        <div class="contact-section-title">
                            <h4> Message us</h4>
                        </div>
                        <br><br>
                        <form id="subscribe-form">
                            <div class="form-group">
                                <label for="name" class="subscribe-form-label">Name</label>
                                <input id="name" name="name" type="text" class="form-control inp"
                                    placeholder="Your name*">
                                <label for="email" class="subscribe-form-label">Email</label>
                                <input id="email" name="email" type="email" class="form-control inp"
                                    placeholder="Your email*">
                                <label for="message" class="subscribe-form-label">Message</label>
                                <textarea id="message" name="message" class="form-control inp"
                                    placeholder="Your message here"></textarea>
                                <input id="subscribe-form-submit-btn" class="form-control inp" type="submit"
                                    value="Send">
                                <p id="subscribe-form-msg"></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a href="../home.html" class="navbar-brand">
                <img alt="icon" src="../assets/img/icon.png">
                <span class="rbrand-name">Rudias</span>
            </a>
            <p class="navbar-brand navbar-nav ml-auto">
                Copyright &copy Rudias 2020
            </p>
        </nav>
    </footer>


    <script src="../assets/js/global.js"></script>
    <script src="../assets/js/blog.js"></script>
</body>

</html>