<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="What is the secret algorithm of Uber? - Rudias">
    <meta name="keywords" content="Secret algorithm, algorithm, Uber, Web outsourcing">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../assets/bootstrap_4_4_1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../assets/bootstrap_4_4_1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/global.css">
    <link rel="stylesheet" href="../assets/css/blog.css">
    <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet" async>

    <link rel="shortcut icon" type="image/png" href="../assets/img/icon.png">
    <title>Rudias</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-WRKX339W3L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WRKX339W3L');
    </script> -->

    <!-- Start of HubSpot Embed Code -->
    <!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7111113.js"></script> -->
    <!-- End of HubSpot Embed Code -->

    <!-- Yandex.Metrika counter -->
    <!-- <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(57372027, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/57372027" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript> -->
    <!-- /Yandex.Metrika counter -->

    <!-- Google Tag Manager -->
    <script>
    // (function (w, d, s, l, i) {
    //     w[l] = w[l] || []; w[l].push({
    //         'gtm.start':
    //             new Date().getTime(), event: 'gtm.js'
    //     }); var f = d.getElementsByTagName(s)[0],
    //         j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    //             'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    //     })(window, document, 'script', 'dataLayer', 'GTM-PZLG5R9');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PZLG5R9" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="blog"></div>
    <nav class="rnav navbar navbar-expand-md navbar-light bg-light">
        <a href="../home.html" class="navbar-brand"><img alt="icon" src="../assets/img/icon.png"><span
                class="rbrand-name">Rudias</span></a>
        <button aria-label="Toggle" id="rnav-toggler" type="button" class="navbar-toggler" data-toggle="collapse"
            data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto smooth-scroll">
                <a id="link-home" targetid="#header" href="../home.html" class="nav-item rnav-item nav-link">Home</a>
                <a id="link-services" targetid="#services" href="../home.html#services"
                    class="nav-item rnav-item nav-link">Services</a>
                <a id="link-blog" targetid="#blog" href="../blog.html"
                    class="nav-item rnav-item nav-link active">Blog</a>
                <a id="link-team" href="../team.html" class="nav-item rnav-item nav-link">Team</a>
                <a id="link-contact" targetid="#contact" href="#contact" class="nav-item rnav-item nav-link">Contact</a>
            </div>
        </div>
    </nav>
    <div id="page-content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12 col-sm-12 col-md-12">
                    <div class="blog-post-first row">
                        <div id="blog-post-first-img-container" class="col-12 col-sm-8 col-md-8">
                            <img alt="Newest" id="blog-post-first-img" src="../assets/img/blog_firstarticle.png">
                        </div>
                        <div class="blog-post-first-title-container col-12 col-sm-4 col-md-4">
                            <h1 id="blog-post-first-title">
                                <a href="./what-is-the-secret-algorithm-of-uber.html">What is the secret algorithm of Uber</a>
                            </h1>
                            <p class="blog-post-date">Thurday 03 -March -2020</p>
                        </div>
                    </div>

                    <div class="row blog-sep">
                        <div class="col-12 col-sm-12">
                            <h6 id="breadcumb"><a href="../blog.html">Blog</a>/What is the secret algorithm of Uber
                            </h6>
                        </div>
                    </div>

                    <div class="blog-article-container row">
                        <div class="col-12 col-sm-12 col-md-8 blog-sep">
                            <h1>What is the secret algorithm of Uber
                            </h1>
                            <p class="article-date">Thurday 03 -March -2020</p>
                        </div>
                        <div class="blog-article col-12 col-sm-12 col-md-7">

                            <article class="post__article ">
                                <div>
                                    <p>Most people who use Uber know they may pay more for a ride on a rainy winter
                                        evening than on a sunny summer’s day. Uber’s use of dynamic surge pricing–its
                                        practice of charging more when demand for rides is higher than the supply of
                                        cars–is now famous (or infamous, if you are <a
                                            href="http://www.today.com/money/163-uber-twitter-explodes-after-pricey-new-years-eve-1D80396181"
                                            target="_blank">someone who paid</a> hundreds of dollars for a New Year’s
                                        Eve lift.) Other industries, even Disney’s theme parks, are <a
                                            href="http://www.pymnts.com/news/2015/surge-pricing-coming-to-a-theme-park-near-you/"
                                            target="_blank">copying the model</a>. And the entire selling point of
                                        would-be competitor ride hailing companies is that they’re surcharge-free.</p>
                                </div>
                                <div class="ad-wrapper ad-wrapper--native_mid_article_inject">
                                    <div class="ad-wrapper--ad-unit-wrap">
                                        <div class="ad_unit">
                                            <div style="" id="bling-2"
                                                data-google-query-id="CLuCr525xucCFRaTvQod7dgJ0g">
                                                <div id="google_ads_iframe_/4160/mv.fc/ideas/misc/native_mid_article_inject_0__container__"
                                                    style="border: 0pt none; width: 3px; height: 3px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <p>Uber says it uses surge pricing to create the most efficient market and maximize
                                        the number of rides it can provide (Lyft also uses a similar system). But no one
                                        outside the company knows how Uber’s surge pricing actually works–it isn’t
                                        public with details of how it sets prices moment by moment in a given
                                        neighborhood or city. And because no one can see the prices others are getting,
                                        neither riders nor drivers know whether they’re actually getting a fair deal or
                                        whether Uber is manipulating the system to pad profits. It’s basically the
                                        “trust us” approach to pricing.</p>
                                    <figure class="inline-large inline inline column-container">
                                        <div class="image-wrapper"><img alt="" width="853" height="853"
                                                data-src="https://images.fastcompany.net/image/upload/w_596,c_limit,q_auto:best,f_auto/fc/3052703-inline-i-1-the-secrets-of-ubers-secretive-surge-pricing-algorithm.jpg"
                                                class=" lazyloaded"
                                                src="https://images.fastcompany.net/image/upload/w_596,c_limit,q_auto:best,f_auto/fc/3052703-inline-i-1-the-secrets-of-ubers-secretive-surge-pricing-algorithm.jpg">
                                        </div>
                                    </figure>
                                    <p>“Uber has all the information, and it’s making decisions about prices. Whether
                                        its interest is the same as the customers and the drivers isn’t something we
                                        know,” says Northeastern University researcher Christo Wilson.</p>
                                    <p>Wilson, who specializes in “auditing” algorithms, and two Northeastern colleagues
                                        set out to reverse engineer how Uber’s surge pricing works in two cities–San
                                        Francisco and Manhattan–over the course of four weeks. <a
                                            href="http://www.ccs.neu.edu/home/cbw/pdf/chen-imc15.pdf" target="_blank">In
                                            a paper</a> being presented at a conference in Tokyo this week, they
                                        described how they mimicked 43 Uber customers using the app and also used Uber’s
                                        <a href="https://developer.uber.com/" target="_blank">public interface for
                                            software developers</a> to reconstruct what the company’s pricing system
                                        looks like behind the scenes.</p>
                                    <p>Uber’s pricing algorithm is generally “fair,” <a
                                            href="http://www.ccs.neu.edu/home/cbw/pdf/chen-imc15.pdf"
                                            target="_blank">they found</a>, in the sense that it’s based on the laws and
                                        supply and demand and doesn’t seem to arbitrarily jack up the price. (An
                                        exception was a few, brief price “jitters” that the researchers uncovered. When
                                        they reported their findings to the company, Uber said they’d found a bug in the
                                        code and fixed it quickly.) Moreover, that system is responsive–surge prices
                                        seemed to be recalculated every five minutes. But their findings also indicated
                                        to them that surge pricing didn’t always work as intended.</p>
                                    <p>“The system is truthful, but it’s not clear if it’s having the desired effect,”
                                        Wilson says. They estimated that ride demand dropped off when prices increased,
                                        but there was seemingly only a “weak” bump in car supply. In other words,
                                        drivers weren’t rushing to respond to higher prices. (One uncertainty in their
                                        analysis is that they couldn’t know if they were seeing every car in an area,
                                        though they tried to account for this by how they spaced out their fake
                                        customers.)</p>
                                    <p>Even if Uber is playing by its rules–it’s still setting the rules. And Wilson
                                        thinks the public might want to know what those rules are. By virtually
                                        “placing” the GPS coordinates of the fake apps in a grid around each city, the
                                        researchers found that most surge periods last less than 10 minutes (and the
                                        majority less than five).</p>
                                </div>
                                <div>
                                    <p>Also, it seemed that actual Uber humans are setting discrete surge “areas.” So
                                        especially in dense areas with patchy demand, like Manhattan’s Times Square,
                                        there are times that two people standing across the street from each other might
                                        see different prices.</p>
                                    <figure class="inline-large inline inline column-container">
                                        <div class="image-wrapper"><img alt="" width="500" height="500"
                                                data-src="https://images.fastcompany.net/image/upload/w_596,c_limit,q_auto:best,f_auto/fc/3052703-inline-3052703-slide-la-inline.png"
                                                class=" lazyloaded"
                                                src="https://images.fastcompany.net/image/upload/w_596,c_limit,q_auto:best,f_auto/fc/3052703-inline-3052703-slide-la-inline.png">
                                        </div>
                                        <div class="caption-wrapper">
                                            <figcaption>The pricing zones that the researchers found for Los Angeles
                                                Uber’s.</figcaption>
                                        </div>
                                    </figure>
                                    <p>For Wilson, the lesson is that sometimes by waiting awhile or by knowing the
                                        boundaries of surge areas (especially in a place like Times Square), it’s
                                        possible to avoid paying more. Drivers, too, the paper says, could theoretically
                                        collude to manipulate the system. Finally, for reasons that were not clear,
                                        surge pricing was three times more common in San Francisco than New York, even
                                        though there are more drivers in the Big Apple.</p>
                                    <p>Uber said in a statement that Wilson’s study was based on “extremely limited,
                                        public data” and defended surge pricing as the tried-and-true system that allows
                                        Uber users to quickly call rides within minutes. As the researchers also noted,
                                        Uber said a big limitation of the study was it wasn’t able to track how each
                                        unique Uber car was being utilized, coming on and offline the system as it
                                        picked up and dropped off passengers.</p>
                                    <p>“What we find in our data is that drivers really beeline for areas of surge,”
                                        Keith Chen, Uber’s head of economic research, told <em>Co.Exist</em>.</p>
                                    <p>If the system works as intended, surge pricing is a “self-defeating prophecy”
                                        that quickly rebalances supply and demand, Chen says. That would explain why
                                        some veteran drivers may have a more “nuanced view of whether it’s worth their
                                        time” to travel to a surge area if they are, say, 15 minutes away. A bigger
                                        effect, he says Uber’s own data shows, is that a surge price signals to drivers
                                        that it’s worthwhile to stay out in their cars for a longer shift, adding to
                                        supply. And, as the Northeastern team found, higher prices do reduce demand as
                                        some users opt for alternative transport or to wait until prices drop again.</p>
                                    <p>The broader question the researchers raise is whether people really want to get
                                        behind an opaque pricing system. Some certainly don’t: One New York lawmaker <a
                                            href="http://www.businessinsider.com/banning-ubers-surge-pricing-is-a-terrible-idea-2015-2"
                                            target="_blank">is trying</a> to ban surge pricing altogether. Even the bug
                                        the study authors found (though minor) is to them a cautionary tale against
                                        making complex, widely-used algorithmic systems unaccountable to public
                                        scrutiny.</p>
                                </div>
                                <div>
                                    <p>“We argue that Uber’s reliance on black-box algorithms makes their system more
                                        vulnerable to manipulation than other online marketplaces. The forces at play on
                                        markets like eBay and Airbnb are well understood: the supply of goods is
                                        transparent, and prices are set by competing individuals. In contrast, Uber does
                                        not provide data about supply and demand, and the pricing algorithm is opaque,”
                                        they say.</p>
                                    <p>Chen, however, believes Uber is more clear about its prices than almost any other
                                        dynamic pricing system out there, and it has built a system that functions well.
                                        During times when surge pricing is in effect, its app now tells users exactly
                                        how much more they’ll be charged, and sometimes makes them type it, just to make
                                        sure they understand. He notes other widely accepted demand-based pricing
                                        systems aren’t transparent at all:</p>
                                    <p>“I just bought a flight home for Thanksgiving, and there’s no explanation for why
                                        it’s three times more than the normal price.”</p>
                                </div>
                                <div>
                                    <div class="ad-wrapper ad-wrapper--native_recommendationlink">
                                        <div class="ad-wrapper--ad-unit-wrap">
                                            <div class="ad_unit">
                                                <div style="" id="bling-4"
                                                    data-google-query-id="CKCSuZ-5xucCFU7KvQodRsIIDw">
                                                    <div id="google_ads_iframe_/4160/mv.fc/ideas/misc/native_recommendationlink_0__container__"
                                                        style="border: 0pt none; width: 3px; height: 3px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ad-wrapper ad-wrapper--native_sponsoredtile">
                                        <div class="ad-wrapper--ad-unit-wrap">
                                            <div class="ad_unit">
                                                <div style="" id="bling-5"
                                                    data-google-query-id="CKOQsp-5xucCFZCbvQodsucEGA">
                                                    <div id="google_ads_iframe_/4160/mv.fc/ideas/misc/native_sponsoredtile_0__container__"
                                                        style="border: 0pt none; width: 3px; height: 3px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ad-wrapper ad-wrapper--native_infinitescroll">
                                        <div class="ad-wrapper--ad-unit-wrap">
                                            <div class="ad_unit">
                                                <div style="" id="bling-6"
                                                    data-google-query-id="CK-JuZ-5xucCFRRsvQodueYIjA">
                                                    <div id="google_ads_iframe_/4160/mv.fc/ideas/misc/native_infinitescroll_0__container__"
                                                        style="border: 0pt none; width: 3px; height: 3px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>

                        </div>

                        <div class="related-posts col-12 col-sm-12 col-md-4 offset-md-1">
                            <div id="blog-email-box">
                                <form id="blog-email-form">
                                    <h6 id="blog-email-box-title">
                                        Let me know about lastest technology article
                                    </h6>
                                    <input id="blog-email-input" type="email" name="email" placeholder="Email">
                                    <input id="blog-email-submit" type="submit" value="Notify me!">
                                </form>
                            </div>

                            <div class="related-posts-section" id="most-view-articles">
                                <h4><b>Most view articles</b></h4><hr>
                                <a href="../posts/what-is-the-secret-algorithm-of-uber.html" class="related-posts-link"><h1 class="blog-title">What is the secret algorithm of Uber</h1></a><hr>
                                <a href="../posts/10-how-to-make-your-app-successful.html" class="related-posts-link"><h1 class="blog-title">Creating strategic product roadmaps</h1></a><hr>
                                <a href="../posts/creating-strategic-product-roadmaps.html" class="related-posts-link"><h1 class="blog-title">Creating strategic product roadmaps</h1></a><hr>
                                <a href="../posts/flutter-in-mobile-app-development-pros-and-cons-for-app-owners.html" class="related-posts-link"><h1 class="blog-title">Flutter in Mobile App Development – Pros & Cons for App Owners</h1></a><hr>
                            </div>
                            
                            <div class="related-posts-section" id="featuring-articles">
                                <h4><b>Featuring articles</b></h4><hr>
                                <a href="../posts/labeling-ourselves.html" class="related-posts-link"><h1 class="blog-title">Changing the Conversation about Product Management vs. UX</h1></a><hr>
                                <a href="../posts/native-apps-vs-non-native-apps-ios-android.html" class="related-posts-link"><h1 class="blog-title">Native Apps vs. Non-Native Apps for iOS and Android?</h1></a><hr>
                                <a href="../posts/swift-vs-objective-c-a-look-at-ios-programming-languages.html" class="related-posts-link"><h1 class="blog-title">Swift vs. Objective-C: A Look at iOS Programming Languages</h1></a><hr>
                                <a href="../posts/ux-design-trends-retrospective-2019.html" class="related-posts-link"><h1 class="blog-title">UX design trends retrospective 2019</h1></a><hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-5 col-md-5" id="contact-us">
                        <div class="contact-section-title">
                            <h4> Contact us</h4>
                        </div>
                        <br><br>
                        <h5><span style="color:#BDBDBD">Direct contact</span></h5>
                        <h6><span style="color: #F2F2F2">+84 90 123 4567</span></h6>
                        <h6><span style="color: #F2F2F2">contact@rudias.net</span></h6>
                        <br>
                        <h5><span style="color:#BDBDBD">Visit us</span></h5>
                        <h6><span style="color: #F2F2F2">Level 4, No1 Thai Ha, Vietnam</span></h6>
                        <br>
                        <a href="https://fb.com"><img alt="icon_facebook" src="../assets/img/icon_fb.png"></a>
                        <a href="https://fb.com"><img alt="icon_linkedin" src="../assets/img/icon_linkedin.png"></a>
                    </div>

                    <div class="col-12 col-md-6 offset-md-1 col-sm-6 offset-sm-1" id="message-us">
                        <div class="contact-section-title">
                            <h4> Message us</h4>
                        </div>
                        <br><br>
                        <form id="subscribe-form">
                            <div class="form-group">
                                <label for="name" class="subscribe-form-label">Name</label>
                                <input id="name" name="name" type="text" class="form-control inp"
                                    placeholder="Your name*">
                                <label for="email" class="subscribe-form-label">Email</label>
                                <input id="email" name="email" type="email" class="form-control inp"
                                    placeholder="Your email*">
                                <label for="message" class="subscribe-form-label">Message</label>
                                <textarea id="message" name="message" class="form-control inp"
                                    placeholder="Your message here"></textarea>
                                <input id="subscribe-form-submit-btn" class="form-control inp" type="submit"
                                    value="Send">
                                <p id="subscribe-form-msg"></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a href="../home.html" class="navbar-brand">
                <img alt="icon" src="../assets/img/icon.png">
                <span class="rbrand-name">Rudias</span>
            </a>
            <p class="navbar-brand navbar-nav ml-auto">
                Copyright &copy Rudias 2020
            </p>
        </nav>
    </footer>


    <script src="../assets/js/global.js"></script>
    <script src="../assets/js/blog.js"></script>
</body>

</html>